Lab 5/flows_lab5.txt
[
    {
        "id": "25933a5b.3a6166",
        "type": "fred in",
        "z": "69e21e83.a54b5",
        "name": "",
        "server": "7776b2e1.dff46c",
        "client": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "4ae7531c.6316ac",
                "8bd0dce.5b6672",
                "f45e682b.72dc28"
            ]
        ]
    },
    {
        "id": "4ae7531c.6316ac",
        "type": "debug",
        "z": "69e21e83.a54b5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "8bd0dce.5b6672",
        "type": "openweathermap",
        "z": "69e21e83.a54b5",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Meerut",
        "country": "India",
        "language": "en",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "345ee6d0.b86b5a",
                "a881f773.172528",
                "3f6fdc8.eb33524",
                "a4bf0069.10599",
                "7fdd709f.833ba",
                "8af02bbe.4c8588"
            ]
        ]
    },
    {
        "id": "345ee6d0.b86b5a",
        "type": "debug",
        "z": "69e21e83.a54b5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "a881f773.172528",
        "type": "ui_gauge",
        "z": "69e21e83.a54b5",
        "name": "",
        "group": "4383afd5.dce02",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "g/m^3",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "e631a12d.2544",
        "type": "ui_audio",
        "z": "69e21e83.a54b5",
        "name": "",
        "group": "ebdef8d9.d5eb18",
        "voice": "Microsoft David Desktop - English (United States)",
        "always": "",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "7fdd709f.833ba",
        "type": "function",
        "z": "69e21e83.a54b5",
        "name": "",
        "func": "msg.payload=msg.payload.description;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "2aaca307.42422c"
            ]
        ]
    },
    {
        "id": "3f6fdc8.eb33524",
        "type": "ui_gauge",
        "z": "69e21e83.a54b5",
        "name": "",
        "group": "e83d5353.c76f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celcius",
        "format": "{{msg.payload.tempc}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "a4bf0069.10599",
        "type": "ui_text",
        "z": "69e21e83.a54b5",
        "group": "2c23e1af.b0e4fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Weather",
        "label": "",
        "format": "{{msg.payload.description}}",
        "layout": "row-spread",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "2aaca307.42422c",
        "type": "ui_text_input",
        "z": "69e21e83.a54b5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "5937532b.bc790c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "e631a12d.2544"
            ]
        ]
    },
    {
        "id": "8af02bbe.4c8588",
        "type": "ui_gauge",
        "z": "69e21e83.a54b5",
        "name": "Windspeed",
        "group": "191bb3b7.81435c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Windspeed",
        "label": "m/sec",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 480,
        "wires": []
    },
    {
        "id": "f45e682b.72dc28",
        "type": "ui_text",
        "z": "69e21e83.a54b5",
        "group": "c6963855.5a1dd8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "7776b2e1.dff46c",
        "type": "fred-server",
        "endpoint": "alpanshu4",
        "private": false,
        "wholemsg": "true"
    },
    {
        "id": "4383afd5.dce02",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "7188d184.8a82f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ebdef8d9.d5eb18",
        "type": "ui_group",
        "name": "Audio",
        "tab": "7188d184.8a82f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e83d5353.c76f8",
        "type": "ui_group",
        "name": "Temp",
        "tab": "7188d184.8a82f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2c23e1af.b0e4fe",
        "type": "ui_group",
        "name": "Weather description",
        "tab": "7188d184.8a82f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5937532b.bc790c",
        "type": "ui_group",
        "name": "Weather description for audio",
        "tab": "7188d184.8a82f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "191bb3b7.81435c",
        "type": "ui_group",
        "name": "Windspeed",
        "tab": "7188d184.8a82f",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c6963855.5a1dd8",
        "type": "ui_group",
        "name": "Farmer Description",
        "tab": "7188d184.8a82f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7188d184.8a82f",
        "type": "ui_tab",
        "name": "Lab 5 Farmer weather forecast",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]