Lab 5/flows_CLientside_lab5.txt
[{"id":"6c8e347a.7d492c","type":"http in","z":"492e57b6.69bf38","name":"User details","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["c6c45c02.04281"]]},{"id":"aaaf7d78.be4a1","type":"http response","z":"492e57b6.69bf38","name":"","statusCode":"","headers":{},"x":770,"y":100,"wires":[]},{"id":"c6c45c02.04281","type":"function","z":"492e57b6.69bf38","name":"","func":"msg.url=\"index\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["da1f896d.0f1c98"]]},{"id":"da1f896d.0f1c98","type":"template","z":"492e57b6.69bf38","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n<meta charset=\"UTF-8\">\n<title>Registration Form</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<style>\n@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);\n body {\nbackground-color: #e6e6e6;\nfont-size: 100%;\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\n}\ndiv, textarea, input {\n-moz-box-sizing: border-box;\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n.container {\nmax-width: 510px;\nmin-width: 324px;\nmargin: 50px auto 0px;\nbackground-color: #fff;\nborder: 1px solid #cfcfcf;\nborder-bottom: 3px solid #ccc;\n}\n.row {\nwidth: 100%;\nmargin: 0 0 1em 0;\npadding: 0 2.5em;\n}\n.row.header {\npadding: 1.5em 2.5em;\nborder-bottom: 1px solid #ccc;\nbackground: url('https://images.indianexpress.com/2020/05/farmers-759.jpg?w=600') left -80px;\ncolor: #fff;\n}\n.row.body {\npadding: .5em 2.5em 1em;\n}\n.pull-right {\nfloat: right;\n}\nh1 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\ndisplay: inline-block;\nfont-weight: 100;\n background-color: white;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nfont-size: 3.5em;\nborder-bottom: 1px solid rgba(255, 255, 255, 0.3);\nmargin: 0 0 0.1em 0;\npadding: 0 0 0.4em 0;\n}\nh3 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\nfont-size: 1.25em;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nmargin: 1em 0 0.4em 0;\n}\n.btn {\nfont-size: 1.0625em;\ndisplay: inline-block;\npadding: 0.74em 1.5em;\nmargin: 1.5em 0 0;\ncolor: #fff;\nborder-width: 0 0 0 0;\nborder-bottom: 5px solid;\ntext-transform: uppercase;\nbackground-color: #b3b3b3;\nborder-bottom-color: #8c8c8c;\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\n}\n.btn:hover {\nbackground-color: #bfbfbf;\n}\n.btn.btn-submit {\nbackground-color: #4f6fad;\nborder-bottom-color: #374d78;\n}\n.btn.btn-submit:hover {\nbackground-color: #5f7db6;\n}\nform {\nmax-width: 100%;\n display: block;\n}\nform ul {\nmargin: 0;\npadding: 0;\nlist-style: none;\n}\nform ul li {\nmargin: 0 0 0.25em 0;\nclear: both;\ndisplay: inline-block;\nwidth: 100%;\n}\nform ul li:last-child {\nmargin: 0;\n}\nform ul li p {\nmargin: 0;\npadding: 0;\nfloat: left;\n}\nform ul li p.right {\nfloat: right;\n}\nform ul li .divider {\nmargin: 0.5em 0 0.5em 0;\nborder: 0;\nheight: 1px;\nwidth: 100%;\ndisplay: block;\nbackground-color: #4f6fad;\nbackground-image: linear-gradient(to right, #ee9cb4, #4f6fad);\n}\nform ul li .req {\ncolor: #ee9cb4;\n}\nform label {\ndisplay: block;\nmargin: 0 0 0.5em 0;\ncolor: #4f6fad;\nfont-size: 1em;\n}\n form input {\nmargin: 0 0 0.5em 0;\nborder: 1px solid #ccc;\npadding: 6px 10px;\ncolor: #555;\nfont-size: 1em;\n}\nform textarea {\nborder: 1px solid #ccc;\npadding: 6px 10px;\nwidth: 100%;\ncolor: #555;\n}\nform small {\ncolor: #4f6fad;\nmargin: 0 0 0 0.5em;\n}\n@media only screen and (max-width: 480px) {\n.pull-right {\nfloat: none;\n}\ninput {\nwidth: 100%;\n}\nlabel {\nwidth: 100%;\ndisplay: inline-block;\nfloat: left;\nclear: both;\n}\nli, p {\nwidth: 100%;\n}\ninput.btn {\nmargin: 1.5em 0 0.5em;\n}\nh1 {\nfont-size: 2.25em;\n}\nh3 {\nfont-size: 1.125em;\n }\nli small {\ndisplay: none;\n}\n}\n</style>\n</head>\n<body>\n<!-- partial:index.partial.html -->\n<div class=\"container\">\n<div class=\"row header\">\n<h1>Registration Form &nbsp;</h1>\n<h3>Fill out the form below!</h3>\n</div>\n<div class=\"row body\">\n<form method=\"post\" action=\"/project\">\n<ul>\n<li>\n<p class=\"left\">\n<label for=\"farmer_first_name\">Farmer's first name</label>\n<input type=\"text\" name=\"farmer_first_name\" placeholder=\"Alpanshu\" />\n</p>\n<p class=\"pull-right\">\n<label for=\"farmer_last_name\">Farmer's last name</label>\n<input type=\"text\" name=\"farmer_last_name\" placeholder=\"Kataria\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"email\">email <span class=\"req\">*</span></label>\n<input type=\"email\" name=\"email\" placeholder=\"alpanshu.kataria@gmail.com\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"Mob_No\">Mob. No.<span class=\"req\">*</span></label>\n<input type=\"Mob_No\" name=\"Mob_No\" placeholder=\"Mob. No.\" />\n</p>\n</li>\n <li>\n<p>\n<label for=\"Crop_name\">Crop name<span class=\"req\">*</span></label>\n<input type=\"Crop_name\" name=\"Crop_name\" placeholder=\"Crop_name\" />\n</p>\n</li>\n<li><div class=\"divider\"></div></li>\n<li>\n<label for=\"Address\">Address</label>\n<textarea cols=\"46\" rows=\"3\" name=\"Address\"></textarea>\n</li>\n        <li>\n          <input class=\"btn btn-submit\" type=\"submit\" value=\"Submit\" />\n          <small>or press <strong>enter</strong></small>\n        </li>\n</ul>\n</form>\n</div>\n</div>\n<!-- partial -->\n</body>\n</html>","output":"str","x":580,"y":100,"wires":[["aaaf7d78.be4a1"]]},{"id":"cd86cfa2.eca25","type":"http in","z":"492e57b6.69bf38","name":"","url":"/project","method":"post","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["2894836e.939d4c","7f5f2607.a0a468"]]},{"id":"53e1226.49800dc","type":"function","z":"492e57b6.69bf38","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["9b74c6a7.fd8a28"]]},{"id":"9b74c6a7.fd8a28","type":"http response","z":"492e57b6.69bf38","name":"","statusCode":"","headers":{},"x":770,"y":260,"wires":[]},{"id":"2894836e.939d4c","type":"json","z":"492e57b6.69bf38","name":"","property":"payload","action":"","pretty":false,"x":330,"y":260,"wires":[["53e1226.49800dc"]]},{"id":"a968710e.e883f","type":"debug","z":"492e57b6.69bf38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"7f5f2607.a0a468","type":"function","z":"492e57b6.69bf38","name":"","func":"msg.payload =\"Farmer's name is \" + msg.payload.farmer_first_name + \". His Mob. No. is \" + msg.payload.Mob_No;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[["a968710e.e883f","8328dc69.be328"]]},{"id":"8328dc69.be328","type":"fred out","z":"492e57b6.69bf38","name":"","server":"","client":"ba178cc8.608cf","x":850,"y":420,"wires":[]},{"id":"ba178cc8.608cf","type":"fred-client","endpoint":"alpanshu4","private":false,"username":"alps","wholemsg":"false"}]