Lab 7/Final_flow_drug.json
[{"id":"fdf11794.5db108","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"aee36424.493008","type":"function","z":"fdf11794.5db108","name":"","func":"context.data=context.data || {};\nswitch (msg.topic) {\n    case \"HR\":\n        context.data.HR=msg.payload;\n        msg=null;\n        break;\n    case \"SpO2\":\n        context.data.SpO2=msg.payload;\n        msg=null;\n        break;\n    case \"BP\":\n        context.data.BP=msg.payload;\n        msg=null;\n        break;\n    default :\n        msg=null;\n        break;\n}\n\nif(context.data.HR !=null && context.data.SpO2 !=null && context.data.BP !=null){\n    if(context.data.HR <60 && context.data.SpO2 <80 && context.data.BP <90){\n        var ans1= \"HR:\"+context.data.HR+\",SpO2:\"+context.data.SpO2+\",BP:\"+context.data.BP+\",consumption level:Low\";\n        context.data=null;\n        return {payload:ans1,topic:\"Drug consumption level reg\"};\n    }\n    else if(context.data.HR >90 && context.data.SpO2 >90 && context.data.BP >120){\n         var ans2= \"HR:\"+context.data.HR+\",SpO2:\"+context.data.SpO2+\",BP:\"+context.data.BP+\",consumption level:High\";\n         context.data=null;\n         return {payload:ans2,topic:\"Drug consumption level reg\"};\n    }\n    else{\n        var ans3= \"HR:\"+context.data.HR+\",SpO2:\"+context.data.SpO2+\",BP:\"+context.data.BP+\",consumption level:Medium\";\n        context.data=null;\n        return {payload:ans3,topic:\"Drug consumption level reg\"};\n    }\n}\nelse return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["b6debe7e.30a73","33f5c546.f44caa","1020981f.1e38c8"]]},{"id":"6ec8084e.2f89e8","type":"inject","z":"fdf11794.5db108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"HR","payload":"126","payloadType":"str","x":170,"y":80,"wires":[["aee36424.493008"]]},{"id":"752a6d1f.3288c4","type":"inject","z":"fdf11794.5db108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SpO2","payload":"145","payloadType":"str","x":150,"y":240,"wires":[["aee36424.493008"]]},{"id":"cd987bad.268da8","type":"inject","z":"fdf11794.5db108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"BP","payload":"134","payloadType":"str","x":170,"y":420,"wires":[["aee36424.493008"]]},{"id":"7a586a7e.6f7db4","type":"debug","z":"fdf11794.5db108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":180,"wires":[]},{"id":"1020981f.1e38c8","type":"e-mail","z":"fdf11794.5db108","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"alpanshukataria777@gmail.com","dname":"","x":850,"y":420,"wires":[]},{"id":"9d5e4336.d9f","type":"http request","z":"fdf11794.5db108","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://demo.thingsboard.io/api/v1/XmrrJ8uzmM3ThebEnmpL/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":60,"wires":[["7a586a7e.6f7db4"]]},{"id":"b6debe7e.30a73","type":"debug","z":"fdf11794.5db108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"33f5c546.f44caa","type":"function","z":"fdf11794.5db108","name":"","func":"var op= {\"Drug consumption level reg\":msg.payload};\nreturn {payload:op};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["9d5e4336.d9f"]]}]