all_flows_till23_03.json
[{"id":"933320b8.eda09","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a47337d9.89f748","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"cd63757a.beb398","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"b8496b1c.ebb2c8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"492e57b6.69bf38","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"51a485dd.bfadbc","type":"tab","label":"Flow 5","disabled":true,"info":""},{"id":"291dff88.ec786","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"85b72ba6.523358","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"1360b050.e74a5","type":"ui_group","name":"news the hindu","tab":"bdfe04a0.e37f68","order":1,"disp":true,"width":"6","collapse":false},{"id":"9beff81c.e94358","type":"ui_group","name":"The Hindu Economics","tab":"bdfe04a0.e37f68","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddd5985a.fea818","type":"ui_group","name":"The Hindu Sports","tab":"bdfe04a0.e37f68","order":2,"disp":true,"width":"6","collapse":false},{"id":"72660469.46281c","type":"ui_group","name":"THe Hindu Education","tab":"bdfe04a0.e37f68","order":4,"disp":true,"width":"6","collapse":false},{"id":"487a6f75.985bc","type":"ui_group","name":"news india today","tab":"bdfe04a0.e37f68","order":5,"disp":true,"width":"6","collapse":false},{"id":"5cdc4e34.fa907","type":"ui_group","name":"India Today Economics","tab":"bdfe04a0.e37f68","order":7,"disp":true,"width":"6","collapse":false},{"id":"39b12359.b3198c","type":"ui_group","name":"India today sports","tab":"bdfe04a0.e37f68","order":6,"disp":true,"width":"6","collapse":false},{"id":"5b1cb67d.88b6a8","type":"ui_group","name":"INdia today education","tab":"bdfe04a0.e37f68","order":8,"disp":true,"width":"6","collapse":false},{"id":"3f5f5e53.a1ca12","type":"ui_group","name":"ESPN news ","tab":"bdfe04a0.e37f68","order":9,"disp":true,"width":"6","collapse":false},{"id":"c926db62.b2f068","type":"ui_group","name":"ESPN economics","tab":"bdfe04a0.e37f68","order":11,"disp":true,"width":"6","collapse":false},{"id":"9ad7247f.b67038","type":"ui_group","name":"ESPN sports","tab":"bdfe04a0.e37f68","order":10,"disp":true,"width":"6","collapse":false},{"id":"3c8f7c2f.906484","type":"ui_group","name":"ESPN education","tab":"bdfe04a0.e37f68","order":12,"disp":true,"width":"6","collapse":false},{"id":"bdfe04a0.e37f68","type":"ui_tab","name":"Lab 3","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b37b262a.c9c5b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ba178cc8.608cf","type":"fred-client","endpoint":"alpanshu4","private":false,"username":"alps","wholemsg":"false"},{"id":"6ea42dc7.8f5c54","type":"ui_tab","name":"Lab 4","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bb844995.d24518","type":"ui_group","name":"Temperature","tab":"6ea42dc7.8f5c54","order":1,"disp":true,"width":6,"collapse":false},{"id":"f224b485.809728","type":"ui_group","name":"Oximeter reading","tab":"6ea42dc7.8f5c54","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd7f4208.8765c","type":"ui_group","name":"pulse rate","tab":"6ea42dc7.8f5c54","order":3,"disp":true,"width":"6","collapse":false},{"id":"891bed4c.3c33d","type":"fred-client","endpoint":"alpanshu2","private":false,"username":"alps","wholemsg":"false"},{"id":"f14ff275.8c019","type":"fred-client","endpoint":"alpanshu3","private":false,"username":"alps","wholemsg":"false"},{"id":"7188d184.8a82f","type":"ui_tab","name":"Lab 5 Farmer weather forecast","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c4bdf18e.6a6a5","type":"ui_group","name":"Audio","tab":"7188d184.8a82f","order":1,"disp":true,"width":"6","collapse":false},{"id":"4383afd5.dce02","type":"ui_group","name":"Humidity","tab":"7188d184.8a82f","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebdef8d9.d5eb18","type":"ui_group","name":"Audio","tab":"7188d184.8a82f","order":3,"disp":true,"width":"6","collapse":false},{"id":"e83d5353.c76f8","type":"ui_group","name":"Temp","tab":"7188d184.8a82f","order":4,"disp":true,"width":"6","collapse":false},{"id":"2c23e1af.b0e4fe","type":"ui_group","name":"Weather description","tab":"7188d184.8a82f","order":5,"disp":true,"width":"6","collapse":false},{"id":"5855a23f.8dac3c","type":"ui_group","name":"Group 6","tab":"7188d184.8a82f","order":6,"disp":true,"width":6},{"id":"5937532b.bc790c","type":"ui_group","name":"Weather description for audio","tab":"7188d184.8a82f","order":7,"disp":true,"width":"6","collapse":false},{"id":"191bb3b7.81435c","type":"ui_group","name":"Windspeed","tab":"7188d184.8a82f","order":8,"disp":true,"width":"6","collapse":false},{"id":"8a0aa310.17a8e","type":"mqtt-broker","name":"","broker":"demo.thingsboard.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"713ef380.cfe70c","type":"feedparse","z":"a47337d9.89f748","name":"The Hindu rss","url":"https://www.thehindu.com/news/national/feeder/default.rss","interval":15,"x":150,"y":260,"wires":[["9237edfa.abcf9","fa693432.c64e98","f1ec2533.73a5a8"]]},{"id":"9237edfa.abcf9","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"fa693432.c64e98","type":"ui_text","z":"a47337d9.89f748","group":"1360b050.e74a5","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":550,"y":340,"wires":[]},{"id":"f1ec2533.73a5a8","type":"switch","z":"a47337d9.89f748","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"Sports","vt":"str","case":true},{"t":"regex","v":"Economics","vt":"str","case":true},{"t":"regex","v":"Education","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":500,"wires":[["4cea7c8f.91e664"],["1e9d6348.182b6d"],["abf62bf3.5643d8"]]},{"id":"4cea7c8f.91e664","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["6ef61780.aa51c8","854ee1df.78e8f"]]},{"id":"1e9d6348.182b6d","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["6a158a5f.4565e4","c1c7e4e9.982598"]]},{"id":"abf62bf3.5643d8","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":560,"wires":[["e2c79dcc.653d5","2bb402df.4e970e"]]},{"id":"c1c7e4e9.982598","type":"ui_text","z":"a47337d9.89f748","group":"9beff81c.e94358","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":800,"y":560,"wires":[]},{"id":"854ee1df.78e8f","type":"ui_text","z":"a47337d9.89f748","group":"ddd5985a.fea818","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":780,"y":420,"wires":[]},{"id":"2bb402df.4e970e","type":"ui_text","z":"a47337d9.89f748","group":"72660469.46281c","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":800,"y":700,"wires":[]},{"id":"6ef61780.aa51c8","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":380,"wires":[]},{"id":"6a158a5f.4565e4","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":520,"wires":[]},{"id":"e2c79dcc.653d5","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":660,"wires":[]},{"id":"599697f4.30bba8","type":"http in","z":"a47337d9.89f748","name":"User details","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":770,"y":120,"wires":[["5cce333b.e5216c"]]},{"id":"98f8338a.1a4c8","type":"http response","z":"a47337d9.89f748","name":"","statusCode":"","headers":{},"x":1390,"y":160,"wires":[]},{"id":"5cce333b.e5216c","type":"function","z":"a47337d9.89f748","name":"","func":"msg.url=\"ui\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":100,"wires":[["b36c5eef.010c4"]]},{"id":"b36c5eef.010c4","type":"template","z":"a47337d9.89f748","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n<meta charset=\"UTF-8\">\n<title>Smart Parking System</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<style>\n@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);\n body {\nbackground-color: #e6e6e6;\nfont-size: 100%;\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\n}\ndiv, textarea, input {\n-moz-box-sizing: border-box;\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n.container {\nmax-width: 510px;\nmin-width: 324px;\nmargin: 50px auto 0px;\nbackground-color: #fff;\nborder: 1px solid #cfcfcf;\nborder-bottom: 3px solid #ccc;\n}\n.row {\nwidth: 100%;\nmargin: 0 0 1em 0;\npadding: 0 2.5em;\n}\n.row.header {\npadding: 1.5em 2.5em;\nborder-bottom: 1px solid #ccc;\nbackground: url(https://image.shutterstock.com/image-vector/parking-zone-car-area-space-600w-\n1176392119.jpg) left -80px;\ncolor: #fff;\n}\n.row.body {\npadding: .5em 2.5em 1em;\n}\n.pull-right {\nfloat: right;\n}\nh1 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\ndisplay: inline-block;\nfont-weight: 100;\n background-color: white;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nfont-size: 3.5em;\nborder-bottom: 1px solid rgba(255, 255, 255, 0.3);\nmargin: 0 0 0.1em 0;\npadding: 0 0 0.4em 0;\n}\nh3 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\nfont-size: 1.25em;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nmargin: 1em 0 0.4em 0;\n}\n.btn {\nfont-size: 1.0625em;\ndisplay: inline-block;\npadding: 0.74em 1.5em;\nmargin: 1.5em 0 0;\ncolor: #fff;\nborder-width: 0 0 0 0;\nborder-bottom: 5px solid;\ntext-transform: uppercase;\nbackground-color: #b3b3b3;\nborder-bottom-color: #8c8c8c;\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\n}\n.btn:hover {\nbackground-color: #bfbfbf;\n}\n.btn.btn-submit {\nbackground-color: #4f6fad;\nborder-bottom-color: #374d78;\n}\n.btn.btn-submit:hover {\nbackground-color: #5f7db6;\n}\nform {\nmax-width: 100%;\n display: block;\n}\nform ul {\nmargin: 0;\npadding: 0;\nlist-style: none;\n}\nform ul li {\nmargin: 0 0 0.25em 0;\nclear: both;\ndisplay: inline-block;\nwidth: 100%;\n}\nform ul li:last-child {\nmargin: 0;\n}\nform ul li p {\nmargin: 0;\npadding: 0;\nfloat: left;\n}\nform ul li p.right {\nfloat: right;\n}\nform ul li .divider {\nmargin: 0.5em 0 0.5em 0;\nborder: 0;\nheight: 1px;\nwidth: 100%;\ndisplay: block;\nbackground-color: #4f6fad;\nbackground-image: linear-gradient(to right, #ee9cb4, #4f6fad);\n}\nform ul li .req {\ncolor: #ee9cb4;\n}\nform label {\ndisplay: block;\nmargin: 0 0 0.5em 0;\ncolor: #4f6fad;\nfont-size: 1em;\n}\n form input {\nmargin: 0 0 0.5em 0;\nborder: 1px solid #ccc;\npadding: 6px 10px;\ncolor: #555;\nfont-size: 1em;\n}\nform textarea {\nborder: 1px solid #ccc;\npadding: 6px 10px;\nwidth: 100%;\ncolor: #555;\n}\nform small {\ncolor: #4f6fad;\nmargin: 0 0 0 0.5em;\n}\n@media only screen and (max-width: 480px) {\n.pull-right {\nfloat: none;\n}\ninput {\nwidth: 100%;\n}\nlabel {\nwidth: 100%;\ndisplay: inline-block;\nfloat: left;\nclear: both;\n}\nli, p {\nwidth: 100%;\n}\ninput.btn {\nmargin: 1.5em 0 0.5em;\n}\nh1 {\nfont-size: 2.25em;\n}\nh3 {\nfont-size: 1.125em;\n }\nli small {\ndisplay: none;\n}\n}\n</style>\n</head>\n<body>\n<!-- partial:index.partial.html -->\n<div class=\"container\">\n<div class=\"row header\">\n<h1>Smart Parking System &nbsp;</h1>\n<h3>Fill out the form below to book a slot!</h3>\n</div>\n<div class=\"row body\">\n<p><a href = \"Parking rates at metro station.docx\" > See the rate list here</a></p>\n<form method=\"post\" action=\"/ui\">\n<ul>\n<li>\n<p class=\"left\">\n<label for=\"first_name\">first name</label>\n<input type=\"text\" name=\"first_name\" placeholder=\"Alpanshu\" />\n</p>\n<p class=\"pull-right\">\n<label for=\"last_name\">last name</label>\n<input type=\"text\" name=\"last_name\" placeholder=\"Kataria\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"email\">email <span class=\"req\">*</span></label>\n<input type=\"email\" name=\"email\" placeholder=\"alpanshu.kataria@gmail.com\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"Mob. No.\">Mob. No.<span class=\"req\">*</span></label>\n<input type=\"Mob. No.\" name=\"Mob. No.\" placeholder=\"Mob. No.\" />\n</p>\n</li>\n <li>\n<p>\n<label for=\"Car. No.\">Car. No.<span class=\"req\">*</span></label>\n<input type=\"Car. No.\" name=\"Car. No.\" placeholder=\"Car. No.\" />\n</p>\n</li>\n<li><div class=\"divider\"></div></li>\n<li>\n<label for=\"Address\">Address</label>\n<textarea cols=\"46\" rows=\"3\" name=\"Address\"></textarea>\n</li>\n<li>\n    <p><a href = \"http://127.0.0.1:1880/ui\" > Submit</a></p>\n\n</li>\n</ul>\n</form>\n</div>\n</div>\n<!-- partial -->\n</body>\n</html>","output":"str","x":1260,"y":60,"wires":[["98f8338a.1a4c8"]]},{"id":"564a0d7b.aecea4","type":"feedparse","z":"a47337d9.89f748","name":"INdia today rss feed","url":"https://www.indiatoday.in/rss/1206584","interval":15,"x":1130,"y":320,"wires":[["b8c2eda8.fc218","e2c35a18.b4d7e8","79466c47.16a724"]]},{"id":"b8c2eda8.fc218","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":300,"wires":[]},{"id":"e2c35a18.b4d7e8","type":"ui_text","z":"a47337d9.89f748","group":"487a6f75.985bc","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1510,"y":400,"wires":[]},{"id":"79466c47.16a724","type":"switch","z":"a47337d9.89f748","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"Sports","vt":"str","case":true},{"t":"regex","v":"Economics","vt":"str","case":true},{"t":"regex","v":"Education","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":1250,"y":560,"wires":[["77d42dd9.2ad884"],["a343d15b.ffeb5"],["57e71507.8920ac"]]},{"id":"77d42dd9.2ad884","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":500,"wires":[["fb1012ed.55de5","40f63fb4.875ab"]]},{"id":"a343d15b.ffeb5","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":560,"wires":[["569314c2.43705c","cef54e74.d4eb8"]]},{"id":"57e71507.8920ac","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":620,"wires":[["c34dbadd.da8688","cd4e1c86.cd068"]]},{"id":"cef54e74.d4eb8","type":"ui_text","z":"a47337d9.89f748","group":"5cdc4e34.fa907","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1760,"y":620,"wires":[]},{"id":"40f63fb4.875ab","type":"ui_text","z":"a47337d9.89f748","group":"39b12359.b3198c","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1740,"y":480,"wires":[]},{"id":"cd4e1c86.cd068","type":"ui_text","z":"a47337d9.89f748","group":"5b1cb67d.88b6a8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1760,"y":760,"wires":[]},{"id":"fb1012ed.55de5","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":440,"wires":[]},{"id":"569314c2.43705c","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1760,"y":580,"wires":[]},{"id":"c34dbadd.da8688","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1760,"y":720,"wires":[]},{"id":"a8077312.a69ba","type":"feedparse","z":"a47337d9.89f748","name":"ESPN rss feed","url":"https://www.espn.com/espn/rss/news","interval":15,"x":940,"y":860,"wires":[["90c875b5.b48e28","e8cc57a0.1dce28","b29ab995.8ab4b8"]]},{"id":"90c875b5.b48e28","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":840,"wires":[]},{"id":"e8cc57a0.1dce28","type":"ui_text","z":"a47337d9.89f748","group":"3f5f5e53.a1ca12","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1330,"y":940,"wires":[]},{"id":"b29ab995.8ab4b8","type":"switch","z":"a47337d9.89f748","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"Sports","vt":"str","case":true},{"t":"regex","v":"Economics","vt":"str","case":true},{"t":"regex","v":"Education","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":1100,"wires":[["7b9f7244.17c36c"],["7f2f856c.d524bc"],["43500490.7e93bc"]]},{"id":"7b9f7244.17c36c","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1040,"wires":[["23c20e1.48bd6f2","b9696a33.592928"]]},{"id":"7f2f856c.d524bc","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1100,"wires":[["5264d536.fed7cc","e3b077bf.bc2068"]]},{"id":"43500490.7e93bc","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1160,"wires":[["67069e6f.55806","cb700f23.870fc"]]},{"id":"e3b077bf.bc2068","type":"ui_text","z":"a47337d9.89f748","group":"c926db62.b2f068","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1580,"y":1160,"wires":[]},{"id":"b9696a33.592928","type":"ui_text","z":"a47337d9.89f748","group":"9ad7247f.b67038","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1560,"y":1020,"wires":[]},{"id":"cb700f23.870fc","type":"ui_text","z":"a47337d9.89f748","group":"3c8f7c2f.906484","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1580,"y":1300,"wires":[]},{"id":"23c20e1.48bd6f2","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1560,"y":980,"wires":[]},{"id":"5264d536.fed7cc","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":1120,"wires":[]},{"id":"67069e6f.55806","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":1260,"wires":[]},{"id":"1474adb4.09e202","type":"fred in","z":"933320b8.eda09","name":"Client side Fred","server":"","client":"ba178cc8.608cf","x":160,"y":80,"wires":[["527b3f.edb094c"]]},{"id":"2dbcf692.b1d54a","type":"fred out","z":"933320b8.eda09","name":"Client side input fred","server":"","client":"ba178cc8.608cf","x":630,"y":280,"wires":[]},{"id":"6ca90cd9.6015c4","type":"inject","z":"933320b8.eda09","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":340,"wires":[["2dbcf692.b1d54a"]]},{"id":"527b3f.edb094c","type":"debug","z":"933320b8.eda09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":100,"wires":[]},{"id":"136adb36.3dd825","type":"http in","z":"cd63757a.beb398","name":"User details","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["e9d2448b.b5e648"]]},{"id":"bf7715d1.b9e558","type":"http response","z":"cd63757a.beb398","name":"","statusCode":"","headers":{},"x":730,"y":100,"wires":[]},{"id":"e9d2448b.b5e648","type":"function","z":"cd63757a.beb398","name":"","func":"msg.url=\"index\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":100,"wires":[["78d4cc5d.6a9804"]]},{"id":"78d4cc5d.6a9804","type":"template","z":"cd63757a.beb398","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n<meta charset=\"UTF-8\">\n<title>Registration Form</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<style>\n@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);\n body {\nbackground-color: #e6e6e6;\nfont-size: 100%;\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\n}\ndiv, textarea, input {\n-moz-box-sizing: border-box;\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n.container {\nmax-width: 510px;\nmin-width: 324px;\nmargin: 50px auto 0px;\nbackground-color: #fff;\nborder: 1px solid #cfcfcf;\nborder-bottom: 3px solid #ccc;\n}\n.row {\nwidth: 100%;\nmargin: 0 0 1em 0;\npadding: 0 2.5em;\n}\n.row.header {\npadding: 1.5em 2.5em;\nborder-bottom: 1px solid #ccc;\nbackground: url('https://www.cpajournal.com/wp-content/uploads/2019/02/GettyImages-1001713236-730x330.jpg') left -80px;\ncolor: #fff;\n}\n.row.body {\npadding: .5em 2.5em 1em;\n}\n.pull-right {\nfloat: right;\n}\nh1 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\ndisplay: inline-block;\nfont-weight: 100;\n background-color: white;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nfont-size: 3.5em;\nborder-bottom: 1px solid rgba(255, 255, 255, 0.3);\nmargin: 0 0 0.1em 0;\npadding: 0 0 0.4em 0;\n}\nh3 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\nfont-size: 1.25em;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nmargin: 1em 0 0.4em 0;\n}\n.btn {\nfont-size: 1.0625em;\ndisplay: inline-block;\npadding: 0.74em 1.5em;\nmargin: 1.5em 0 0;\ncolor: #fff;\nborder-width: 0 0 0 0;\nborder-bottom: 5px solid;\ntext-transform: uppercase;\nbackground-color: #b3b3b3;\nborder-bottom-color: #8c8c8c;\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\n}\n.btn:hover {\nbackground-color: #bfbfbf;\n}\n.btn.btn-submit {\nbackground-color: #4f6fad;\nborder-bottom-color: #374d78;\n}\n.btn.btn-submit:hover {\nbackground-color: #5f7db6;\n}\nform {\nmax-width: 100%;\n display: block;\n}\nform ul {\nmargin: 0;\npadding: 0;\nlist-style: none;\n}\nform ul li {\nmargin: 0 0 0.25em 0;\nclear: both;\ndisplay: inline-block;\nwidth: 100%;\n}\nform ul li:last-child {\nmargin: 0;\n}\nform ul li p {\nmargin: 0;\npadding: 0;\nfloat: left;\n}\nform ul li p.right {\nfloat: right;\n}\nform ul li .divider {\nmargin: 0.5em 0 0.5em 0;\nborder: 0;\nheight: 1px;\nwidth: 100%;\ndisplay: block;\nbackground-color: #4f6fad;\nbackground-image: linear-gradient(to right, #ee9cb4, #4f6fad);\n}\nform ul li .req {\ncolor: #ee9cb4;\n}\nform label {\ndisplay: block;\nmargin: 0 0 0.5em 0;\ncolor: #4f6fad;\nfont-size: 1em;\n}\n form input {\nmargin: 0 0 0.5em 0;\nborder: 1px solid #ccc;\npadding: 6px 10px;\ncolor: #555;\nfont-size: 1em;\n}\nform textarea {\nborder: 1px solid #ccc;\npadding: 6px 10px;\nwidth: 100%;\ncolor: #555;\n}\nform small {\ncolor: #4f6fad;\nmargin: 0 0 0 0.5em;\n}\n@media only screen and (max-width: 480px) {\n.pull-right {\nfloat: none;\n}\ninput {\nwidth: 100%;\n}\nlabel {\nwidth: 100%;\ndisplay: inline-block;\nfloat: left;\nclear: both;\n}\nli, p {\nwidth: 100%;\n}\ninput.btn {\nmargin: 1.5em 0 0.5em;\n}\nh1 {\nfont-size: 2.25em;\n}\nh3 {\nfont-size: 1.125em;\n }\nli small {\ndisplay: none;\n}\n}\n</style>\n</head>\n<body>\n<!-- partial:index.partial.html -->\n<div class=\"container\">\n<div class=\"row header\">\n<h1>Registration Form &nbsp;</h1>\n<h3>Fill out the form below!</h3>\n</div>\n<div class=\"row body\">\n<form method=\"post\" action=\"/ui\">\n<ul>\n<li>\n<p class=\"left\">\n<label for=\"first_name\">first name</label>\n<input type=\"text\" name=\"first_name\" placeholder=\"Alpanshu\" />\n</p>\n<p class=\"pull-right\">\n<label for=\"last_name\">last name</label>\n<input type=\"text\" name=\"last_name\" placeholder=\"Kataria\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"email\">email <span class=\"req\">*</span></label>\n<input type=\"email\" name=\"email\" placeholder=\"alpanshu.kataria@gmail.com\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"Mob. No.\">Mob. No.<span class=\"req\">*</span></label>\n<input type=\"Mob. No.\" name=\"Mob. No.\" placeholder=\"Mob. No.\" />\n</p>\n</li>\n <li>\n<p>\n<label for=\"Being diagnosed for:\">Being diagnosed for:<span class=\"req\">*</span></label>\n<input type=\"Being diagnosed for:\" name=\"Being diagnosed for:\" placeholder=\"Being diagnosed for:\" />\n</p>\n</li>\n<li><div class=\"divider\"></div></li>\n<li>\n<label for=\"Address\">Address</label>\n<textarea cols=\"46\" rows=\"3\" name=\"Address\"></textarea>\n</li>\n        <li>\n          <input class=\"btn btn-submit\" type=\"submit\" value=\"Submit\" />\n          <small>or press <strong>enter</strong></small>\n        </li>\n</ul>\n</form>\n</div>\n</div>\n<!-- partial -->\n</body>\n</html>","output":"str","x":540,"y":100,"wires":[["bf7715d1.b9e558"]]},{"id":"ed636895.e99238","type":"inject","z":"cd63757a.beb398","name":"Temperature(in fahrenheit)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"103","payloadType":"num","x":180,"y":220,"wires":[["ca29479a.1713d8"]]},{"id":"a2d5e012.3529c","type":"inject","z":"cd63757a.beb398","name":"Oximeter reading(in percentage)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"96","payloadType":"num","x":170,"y":300,"wires":[["af8ceff9.50b1f"]]},{"id":"8bde4b89.45eba8","type":"inject","z":"cd63757a.beb398","name":"Pulse rate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"101","payloadType":"num","x":160,"y":380,"wires":[["1fc220f5.afb2af"]]},{"id":"d51baec3.85c94","type":"function","z":"cd63757a.beb398","name":"","func":"if(msg.payload>=97 && msg.payload<=99){\n    msg.payload=\"Body temperature is normal\"\n}\nelse if(msg.payload>99){\n    msg.payload=\"You seem to have fever. Please contact your doctor. Meanwhile take a paracetamol\"\n}\nelse if(msg.payload<97){\n    msg.payload=\"You seem to have hypothermia. Please contact your doctor as soon as possible\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":820,"wires":[["97f39038.006a4"]]},{"id":"10ff6c41.cf7ad4","type":"function","z":"cd63757a.beb398","name":"","func":"if(msg.payload>=95 && msg.payload<=100){\n    msg.payload=\"Your blood oxygen level is normal\"\n}\nelse if(msg.payload<95){\n    msg.payload=\"Your blood oxygen level is low.Please contact your doctor immediately\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":900,"wires":[["db306bdc.01dec8"]]},{"id":"a12d6739.dfe738","type":"function","z":"cd63757a.beb398","name":"","func":"if(msg.payload>=60 && msg.payload<=100){\n    msg.payload=\"Your pulse rate is normal\"\n}\nelse if(msg.payload>100){\n    msg.payload=\"Your pulse rate seems to be too high. Please contact your doctor immediately.\"\n}\nelse if(msg.payload<60){\n    msg.payload=\"Your pulse rate seems to be too low. Please contact your doctor as soon as possible\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":980,"wires":[["fba8976e.daed08"]]},{"id":"97f39038.006a4","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":820,"wires":[]},{"id":"db306bdc.01dec8","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":920,"wires":[]},{"id":"fba8976e.daed08","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":1000,"wires":[]},{"id":"ca29479a.1713d8","type":"fred out","z":"cd63757a.beb398","name":"client side input","server":"","client":"ba178cc8.608cf","x":561,"y":220,"wires":[]},{"id":"af8ceff9.50b1f","type":"fred out","z":"cd63757a.beb398","name":"client side input","server":"","client":"891bed4c.3c33d","x":560,"y":297,"wires":[]},{"id":"1fc220f5.afb2af","type":"fred out","z":"cd63757a.beb398","name":"client side input","server":"","client":"f14ff275.8c019","x":560,"y":380,"wires":[]},{"id":"43fe393c.245458","type":"fred in","z":"cd63757a.beb398","name":"Client side output","server":"","client":"ba178cc8.608cf","x":210,"y":480,"wires":[["7f7ad12d.bcc88","a81d293d.7c62f8"]]},{"id":"7356bb6a.8951c4","type":"fred in","z":"cd63757a.beb398","name":"Client side output","server":"","client":"891bed4c.3c33d","x":200,"y":540,"wires":[["a5d2f8fa.751758","acc3f8fb.61b788"]]},{"id":"4fd6f6ff.ad02c8","type":"fred in","z":"cd63757a.beb398","name":"Client side output","server":"","client":"f14ff275.8c019","x":200,"y":620,"wires":[["8a15b111.3adad","ee15b1d5.a8aef"]]},{"id":"a81d293d.7c62f8","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":480,"wires":[]},{"id":"acc3f8fb.61b788","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":560,"wires":[]},{"id":"ee15b1d5.a8aef","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":640,"wires":[]},{"id":"7f7ad12d.bcc88","type":"ui_text","z":"cd63757a.beb398","group":"bb844995.d24518","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":440,"wires":[]},{"id":"a5d2f8fa.751758","type":"ui_text","z":"cd63757a.beb398","group":"f224b485.809728","order":0,"width":0,"height":0,"name":"","label":"Blood oxygen level","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":520,"wires":[]},{"id":"8a15b111.3adad","type":"ui_text","z":"cd63757a.beb398","group":"fd7f4208.8765c","order":0,"width":0,"height":0,"name":"","label":"Pulse","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":600,"wires":[]},{"id":"9a01842f.dd9418","type":"http in","z":"b8496b1c.ebb2c8","name":"User details","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":230,"y":120,"wires":[["677e9d89.1bfd64"]]},{"id":"393ef637.b2d10a","type":"http response","z":"b8496b1c.ebb2c8","name":"","statusCode":"","headers":{},"x":870,"y":120,"wires":[]},{"id":"677e9d89.1bfd64","type":"function","z":"b8496b1c.ebb2c8","name":"","func":"msg.url=\"index\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":120,"wires":[["34d0c0d5.ec37e"]]},{"id":"34d0c0d5.ec37e","type":"template","z":"b8496b1c.ebb2c8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n<meta charset=\"UTF-8\">\n<title>Registration Form</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<style>\n@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);\n body {\nbackground-color: #e6e6e6;\nfont-size: 100%;\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\n}\ndiv, textarea, input {\n-moz-box-sizing: border-box;\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n.container {\nmax-width: 510px;\nmin-width: 324px;\nmargin: 50px auto 0px;\nbackground-color: #fff;\nborder: 1px solid #cfcfcf;\nborder-bottom: 3px solid #ccc;\n}\n.row {\nwidth: 100%;\nmargin: 0 0 1em 0;\npadding: 0 2.5em;\n}\n.row.header {\npadding: 1.5em 2.5em;\nborder-bottom: 1px solid #ccc;\nbackground: url('https://www.cpajournal.com/wp-content/uploads/2019/02/GettyImages-1001713236-730x330.jpg') left -80px;\ncolor: #fff;\n}\n.row.body {\npadding: .5em 2.5em 1em;\n}\n.pull-right {\nfloat: right;\n}\nh1 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\ndisplay: inline-block;\nfont-weight: 100;\n background-color: white;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nfont-size: 3.5em;\nborder-bottom: 1px solid rgba(255, 255, 255, 0.3);\nmargin: 0 0 0.1em 0;\npadding: 0 0 0.4em 0;\n}\nh3 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\nfont-size: 1.25em;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nmargin: 1em 0 0.4em 0;\n}\n.btn {\nfont-size: 1.0625em;\ndisplay: inline-block;\npadding: 0.74em 1.5em;\nmargin: 1.5em 0 0;\ncolor: #fff;\nborder-width: 0 0 0 0;\nborder-bottom: 5px solid;\ntext-transform: uppercase;\nbackground-color: #b3b3b3;\nborder-bottom-color: #8c8c8c;\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\n}\n.btn:hover {\nbackground-color: #bfbfbf;\n}\n.btn.btn-submit {\nbackground-color: #4f6fad;\nborder-bottom-color: #374d78;\n}\n.btn.btn-submit:hover {\nbackground-color: #5f7db6;\n}\nform {\nmax-width: 100%;\n display: block;\n}\nform ul {\nmargin: 0;\npadding: 0;\nlist-style: none;\n}\nform ul li {\nmargin: 0 0 0.25em 0;\nclear: both;\ndisplay: inline-block;\nwidth: 100%;\n}\nform ul li:last-child {\nmargin: 0;\n}\nform ul li p {\nmargin: 0;\npadding: 0;\nfloat: left;\n}\nform ul li p.right {\nfloat: right;\n}\nform ul li .divider {\nmargin: 0.5em 0 0.5em 0;\nborder: 0;\nheight: 1px;\nwidth: 100%;\ndisplay: block;\nbackground-color: #4f6fad;\nbackground-image: linear-gradient(to right, #ee9cb4, #4f6fad);\n}\nform ul li .req {\ncolor: #ee9cb4;\n}\nform label {\ndisplay: block;\nmargin: 0 0 0.5em 0;\ncolor: #4f6fad;\nfont-size: 1em;\n}\n form input {\nmargin: 0 0 0.5em 0;\nborder: 1px solid #ccc;\npadding: 6px 10px;\ncolor: #555;\nfont-size: 1em;\n}\nform textarea {\nborder: 1px solid #ccc;\npadding: 6px 10px;\nwidth: 100%;\ncolor: #555;\n}\nform small {\ncolor: #4f6fad;\nmargin: 0 0 0 0.5em;\n}\n@media only screen and (max-width: 480px) {\n.pull-right {\nfloat: none;\n}\ninput {\nwidth: 100%;\n}\nlabel {\nwidth: 100%;\ndisplay: inline-block;\nfloat: left;\nclear: both;\n}\nli, p {\nwidth: 100%;\n}\ninput.btn {\nmargin: 1.5em 0 0.5em;\n}\nh1 {\nfont-size: 2.25em;\n}\nh3 {\nfont-size: 1.125em;\n }\nli small {\ndisplay: none;\n}\n}\n</style>\n</head>\n<body>\n<!-- partial:index.partial.html -->\n<div class=\"container\">\n<div class=\"row header\">\n<h1>Registration Form &nbsp;</h1>\n<h3>Fill out the form below!</h3>\n</div>\n<div class=\"row body\">\n<form method=\"post\" action=\"/ui\">\n<ul>\n<li>\n<p class=\"left\">\n<label for=\"first_name\">first name</label>\n<input type=\"text\" name=\"first_name\" placeholder=\"Alpanshu\" />\n</p>\n<p class=\"pull-right\">\n<label for=\"last_name\">last name</label>\n<input type=\"text\" name=\"last_name\" placeholder=\"Kataria\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"email\">email <span class=\"req\">*</span></label>\n<input type=\"email\" name=\"email\" placeholder=\"alpanshu.kataria@gmail.com\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"Mob. No.\">Mob. No.<span class=\"req\">*</span></label>\n<input type=\"Mob. No.\" name=\"Mob. No.\" placeholder=\"Mob. No.\" />\n</p>\n</li>\n <li>\n<p>\n<label for=\"Being diagnosed for:\">Being diagnosed for:<span class=\"req\">*</span></label>\n<input type=\"Being diagnosed for:\" name=\"Being diagnosed for:\" placeholder=\"Being diagnosed for:\" />\n</p>\n</li>\n<li><div class=\"divider\"></div></li>\n<li>\n<label for=\"Address\">Address</label>\n<textarea cols=\"46\" rows=\"3\" name=\"Address\"></textarea>\n</li>\n        <li>\n          <input class=\"btn btn-submit\" type=\"submit\" value=\"Submit\" />\n          <small>or press <strong>enter</strong></small>\n        </li>\n</ul>\n</form>\n</div>\n</div>\n<!-- partial -->\n</body>\n</html>","output":"str","x":680,"y":120,"wires":[["393ef637.b2d10a"]]},{"id":"787770b8.40c2","type":"http in","z":"b8496b1c.ebb2c8","name":"","url":"/project","method":"post","upload":false,"swaggerDoc":"","x":220,"y":280,"wires":[["8c90efe3.8d039"]]},{"id":"34d5d120.9755fe","type":"function","z":"b8496b1c.ebb2c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["f115d293.a216b"]]},{"id":"f115d293.a216b","type":"http response","z":"b8496b1c.ebb2c8","name":"","statusCode":"","headers":{},"x":870,"y":280,"wires":[]},{"id":"8c90efe3.8d039","type":"json","z":"b8496b1c.ebb2c8","name":"","property":"payload","action":"","pretty":false,"x":430,"y":280,"wires":[["34d5d120.9755fe"]]},{"id":"6c8e347a.7d492c","type":"http in","z":"492e57b6.69bf38","name":"User details","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["c6c45c02.04281"]]},{"id":"aaaf7d78.be4a1","type":"http response","z":"492e57b6.69bf38","name":"","statusCode":"","headers":{},"x":770,"y":100,"wires":[]},{"id":"c6c45c02.04281","type":"function","z":"492e57b6.69bf38","name":"","func":"msg.url=\"index\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["da1f896d.0f1c98"]]},{"id":"da1f896d.0f1c98","type":"template","z":"492e57b6.69bf38","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n<meta charset=\"UTF-8\">\n<title>Registration Form</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<style>\n@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);\n body {\nbackground-color: #e6e6e6;\nfont-size: 100%;\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\n}\ndiv, textarea, input {\n-moz-box-sizing: border-box;\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n.container {\nmax-width: 510px;\nmin-width: 324px;\nmargin: 50px auto 0px;\nbackground-color: #fff;\nborder: 1px solid #cfcfcf;\nborder-bottom: 3px solid #ccc;\n}\n.row {\nwidth: 100%;\nmargin: 0 0 1em 0;\npadding: 0 2.5em;\n}\n.row.header {\npadding: 1.5em 2.5em;\nborder-bottom: 1px solid #ccc;\nbackground: url('https://images.indianexpress.com/2020/05/farmers-759.jpg?w=600') left -80px;\ncolor: #fff;\n}\n.row.body {\npadding: .5em 2.5em 1em;\n}\n.pull-right {\nfloat: right;\n}\nh1 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\ndisplay: inline-block;\nfont-weight: 100;\n background-color: white;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nfont-size: 3.5em;\nborder-bottom: 1px solid rgba(255, 255, 255, 0.3);\nmargin: 0 0 0.1em 0;\npadding: 0 0 0.4em 0;\n}\nh3 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\nfont-size: 1.25em;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nmargin: 1em 0 0.4em 0;\n}\n.btn {\nfont-size: 1.0625em;\ndisplay: inline-block;\npadding: 0.74em 1.5em;\nmargin: 1.5em 0 0;\ncolor: #fff;\nborder-width: 0 0 0 0;\nborder-bottom: 5px solid;\ntext-transform: uppercase;\nbackground-color: #b3b3b3;\nborder-bottom-color: #8c8c8c;\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\n}\n.btn:hover {\nbackground-color: #bfbfbf;\n}\n.btn.btn-submit {\nbackground-color: #4f6fad;\nborder-bottom-color: #374d78;\n}\n.btn.btn-submit:hover {\nbackground-color: #5f7db6;\n}\nform {\nmax-width: 100%;\n display: block;\n}\nform ul {\nmargin: 0;\npadding: 0;\nlist-style: none;\n}\nform ul li {\nmargin: 0 0 0.25em 0;\nclear: both;\ndisplay: inline-block;\nwidth: 100%;\n}\nform ul li:last-child {\nmargin: 0;\n}\nform ul li p {\nmargin: 0;\npadding: 0;\nfloat: left;\n}\nform ul li p.right {\nfloat: right;\n}\nform ul li .divider {\nmargin: 0.5em 0 0.5em 0;\nborder: 0;\nheight: 1px;\nwidth: 100%;\ndisplay: block;\nbackground-color: #4f6fad;\nbackground-image: linear-gradient(to right, #ee9cb4, #4f6fad);\n}\nform ul li .req {\ncolor: #ee9cb4;\n}\nform label {\ndisplay: block;\nmargin: 0 0 0.5em 0;\ncolor: #4f6fad;\nfont-size: 1em;\n}\n form input {\nmargin: 0 0 0.5em 0;\nborder: 1px solid #ccc;\npadding: 6px 10px;\ncolor: #555;\nfont-size: 1em;\n}\nform textarea {\nborder: 1px solid #ccc;\npadding: 6px 10px;\nwidth: 100%;\ncolor: #555;\n}\nform small {\ncolor: #4f6fad;\nmargin: 0 0 0 0.5em;\n}\n@media only screen and (max-width: 480px) {\n.pull-right {\nfloat: none;\n}\ninput {\nwidth: 100%;\n}\nlabel {\nwidth: 100%;\ndisplay: inline-block;\nfloat: left;\nclear: both;\n}\nli, p {\nwidth: 100%;\n}\ninput.btn {\nmargin: 1.5em 0 0.5em;\n}\nh1 {\nfont-size: 2.25em;\n}\nh3 {\nfont-size: 1.125em;\n }\nli small {\ndisplay: none;\n}\n}\n</style>\n</head>\n<body>\n<!-- partial:index.partial.html -->\n<div class=\"container\">\n<div class=\"row header\">\n<h1>Registration Form &nbsp;</h1>\n<h3>Fill out the form below!</h3>\n</div>\n<div class=\"row body\">\n<form method=\"post\" action=\"/project\">\n<ul>\n<li>\n<p class=\"left\">\n<label for=\"farmer_first_name\">Farmer's first name</label>\n<input type=\"text\" name=\"farmer_first_name\" placeholder=\"Alpanshu\" />\n</p>\n<p class=\"pull-right\">\n<label for=\"farmer_last_name\">Farmer's last name</label>\n<input type=\"text\" name=\"farmer_last_name\" placeholder=\"Kataria\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"email\">email <span class=\"req\">*</span></label>\n<input type=\"email\" name=\"email\" placeholder=\"alpanshu.kataria@gmail.com\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"Mob_No\">Mob. No.<span class=\"req\">*</span></label>\n<input type=\"Mob_No\" name=\"Mob_No\" placeholder=\"Mob. No.\" />\n</p>\n</li>\n <li>\n<p>\n<label for=\"Crop_name\">Crop name<span class=\"req\">*</span></label>\n<input type=\"Crop_name\" name=\"Crop_name\" placeholder=\"Crop_name\" />\n</p>\n</li>\n<li><div class=\"divider\"></div></li>\n<li>\n<label for=\"Address\">Address</label>\n<textarea cols=\"46\" rows=\"3\" name=\"Address\"></textarea>\n</li>\n        <li>\n          <input class=\"btn btn-submit\" type=\"submit\" value=\"Submit\" />\n          <small>or press <strong>enter</strong></small>\n        </li>\n</ul>\n</form>\n</div>\n</div>\n<!-- partial -->\n</body>\n</html>","output":"str","x":580,"y":100,"wires":[["aaaf7d78.be4a1"]]},{"id":"cd86cfa2.eca25","type":"http in","z":"492e57b6.69bf38","name":"","url":"/project","method":"post","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["2894836e.939d4c","7f5f2607.a0a468"]]},{"id":"53e1226.49800dc","type":"function","z":"492e57b6.69bf38","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["9b74c6a7.fd8a28"]]},{"id":"9b74c6a7.fd8a28","type":"http response","z":"492e57b6.69bf38","name":"","statusCode":"","headers":{},"x":770,"y":260,"wires":[]},{"id":"2894836e.939d4c","type":"json","z":"492e57b6.69bf38","name":"","property":"payload","action":"","pretty":false,"x":330,"y":260,"wires":[["53e1226.49800dc"]]},{"id":"a968710e.e883f","type":"debug","z":"492e57b6.69bf38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":460,"wires":[]},{"id":"7f5f2607.a0a468","type":"function","z":"492e57b6.69bf38","name":"","func":"msg.payload =\"Farmer's name is \" + msg.payload.farmer_first_name + \". His Mob. No. is \" + msg.payload.Mob_No;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[["a968710e.e883f","8328dc69.be328"]]},{"id":"8328dc69.be328","type":"fred out","z":"492e57b6.69bf38","name":"","server":"","client":"ba178cc8.608cf","x":710,"y":400,"wires":[]},{"id":"8bd0dce.5b6672","type":"openweathermap","z":"51a485dd.bfadbc","name":"","wtype":"current","lon":"","lat":"","city":"Meerut","country":"India","language":"en","x":300,"y":140,"wires":[["345ee6d0.b86b5a","a881f773.172528","3f6fdc8.eb33524","a4bf0069.10599","7fdd709f.833ba","8af02bbe.4c8588"]]},{"id":"5f8f516a.b309e","type":"inject","z":"51a485dd.bfadbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["8bd0dce.5b6672"]]},{"id":"345ee6d0.b86b5a","type":"debug","z":"51a485dd.bfadbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"a881f773.172528","type":"ui_gauge","z":"51a485dd.bfadbc","name":"","group":"4383afd5.dce02","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"g/m^3","format":"{{msg.payload.humidity}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":220,"wires":[]},{"id":"e631a12d.2544","type":"ui_audio","z":"51a485dd.bfadbc","name":"","group":"ebdef8d9.d5eb18","voice":"Microsoft David Desktop - English (United States)","always":"","x":660,"y":460,"wires":[]},{"id":"7fdd709f.833ba","type":"function","z":"51a485dd.bfadbc","name":"","func":"msg.payload=msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":300,"wires":[["2aaca307.42422c"]]},{"id":"3f6fdc8.eb33524","type":"ui_gauge","z":"51a485dd.bfadbc","name":"","group":"e83d5353.c76f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{msg.payload.tempc}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":280,"wires":[]},{"id":"a4bf0069.10599","type":"ui_text","z":"51a485dd.bfadbc","group":"2c23e1af.b0e4fe","order":1,"width":0,"height":0,"name":"Weather","label":"","format":"{{msg.payload.description}}","layout":"row-spread","x":660,"y":340,"wires":[]},{"id":"2aaca307.42422c","type":"ui_text_input","z":"51a485dd.bfadbc","name":"","label":"","tooltip":"","group":"5937532b.bc790c","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":400,"y":420,"wires":[["e631a12d.2544"]]},{"id":"8af02bbe.4c8588","type":"ui_gauge","z":"51a485dd.bfadbc","name":"Windspeed","group":"191bb3b7.81435c","order":1,"width":0,"height":0,"gtype":"gage","title":"Windspeed","label":"units","format":"{{msg.payload.windspeed}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":400,"wires":[]},{"id":"410747d2.82c868","type":"inject","z":"291dff88.ec786","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Temperature\":37,\"Humidity\":42,\"Light\":\"ON\",\"Fan\":\"ON\",\"Air Conditioner\":\"OFF\"}","payloadType":"json","x":310,"y":140,"wires":[["34be0a64.3d13f6"]]},{"id":"d05da16a.5bbf8","type":"debug","z":"291dff88.ec786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":140,"wires":[]},{"id":"34be0a64.3d13f6","type":"http request","z":"291dff88.ec786","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://demo.thingsboard.io/api/v1/erdFbsdAN0VRoWv3sW9Z/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":240,"wires":[["d05da16a.5bbf8"]]},{"id":"a7001f91.33df9","type":"mqtt out","z":"85b72ba6.523358","name":"","topic":"v1/devices/me/telemetry","qos":"","retain":"","broker":"8a0aa310.17a8e","x":610,"y":280,"wires":[]},{"id":"a2c735b2.4c2ea8","type":"inject","z":"85b72ba6.523358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Temperature\":37,\"Humidity\":42,\"Water Flow\":0.1,\"Soil Moistiure\":70,\"Disease detected\":\"Powdery Mildew\"}","payloadType":"json","x":290,"y":280,"wires":[["a7001f91.33df9"]]}]