Lab 3/Final flows.json
[{"id":"a47337d9.89f748","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"713ef380.cfe70c","type":"feedparse","z":"a47337d9.89f748","name":"The Hindu rss","url":"https://www.thehindu.com/news/national/feeder/default.rss","interval":15,"x":150,"y":260,"wires":[["9237edfa.abcf9","fa693432.c64e98","f1ec2533.73a5a8"]]},{"id":"9237edfa.abcf9","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"fa693432.c64e98","type":"ui_text","z":"a47337d9.89f748","group":"1360b050.e74a5","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":550,"y":340,"wires":[]},{"id":"f1ec2533.73a5a8","type":"switch","z":"a47337d9.89f748","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"Sports","vt":"str","case":true},{"t":"regex","v":"Economics","vt":"str","case":true},{"t":"regex","v":"Education","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":500,"wires":[["4cea7c8f.91e664"],["1e9d6348.182b6d"],["abf62bf3.5643d8"]]},{"id":"4cea7c8f.91e664","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["6ef61780.aa51c8","854ee1df.78e8f"]]},{"id":"1e9d6348.182b6d","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["6a158a5f.4565e4","c1c7e4e9.982598"]]},{"id":"abf62bf3.5643d8","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":560,"wires":[["e2c79dcc.653d5","2bb402df.4e970e"]]},{"id":"c1c7e4e9.982598","type":"ui_text","z":"a47337d9.89f748","group":"9beff81c.e94358","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":800,"y":560,"wires":[]},{"id":"854ee1df.78e8f","type":"ui_text","z":"a47337d9.89f748","group":"ddd5985a.fea818","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":780,"y":420,"wires":[]},{"id":"2bb402df.4e970e","type":"ui_text","z":"a47337d9.89f748","group":"72660469.46281c","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":800,"y":700,"wires":[]},{"id":"6ef61780.aa51c8","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":380,"wires":[]},{"id":"6a158a5f.4565e4","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":520,"wires":[]},{"id":"e2c79dcc.653d5","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":660,"wires":[]},{"id":"599697f4.30bba8","type":"http in","z":"a47337d9.89f748","name":"User details","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":770,"y":120,"wires":[["5cce333b.e5216c"]]},{"id":"98f8338a.1a4c8","type":"http response","z":"a47337d9.89f748","name":"","statusCode":"","headers":{},"x":1390,"y":160,"wires":[]},{"id":"5cce333b.e5216c","type":"function","z":"a47337d9.89f748","name":"","func":"msg.url=\"ui\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":100,"wires":[["b36c5eef.010c4"]]},{"id":"b36c5eef.010c4","type":"template","z":"a47337d9.89f748","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n<meta charset=\"UTF-8\">\n<title>Smart Parking System</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<style>\n@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);\n body {\nbackground-color: #e6e6e6;\nfont-size: 100%;\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\n}\ndiv, textarea, input {\n-moz-box-sizing: border-box;\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n.container {\nmax-width: 510px;\nmin-width: 324px;\nmargin: 50px auto 0px;\nbackground-color: #fff;\nborder: 1px solid #cfcfcf;\nborder-bottom: 3px solid #ccc;\n}\n.row {\nwidth: 100%;\nmargin: 0 0 1em 0;\npadding: 0 2.5em;\n}\n.row.header {\npadding: 1.5em 2.5em;\nborder-bottom: 1px solid #ccc;\nbackground: url(https://image.shutterstock.com/image-vector/parking-zone-car-area-space-600w-\n1176392119.jpg) left -80px;\ncolor: #fff;\n}\n.row.body {\npadding: .5em 2.5em 1em;\n}\n.pull-right {\nfloat: right;\n}\nh1 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\ndisplay: inline-block;\nfont-weight: 100;\n background-color: white;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nfont-size: 3.5em;\nborder-bottom: 1px solid rgba(255, 255, 255, 0.3);\nmargin: 0 0 0.1em 0;\npadding: 0 0 0.4em 0;\n}\nh3 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\nfont-size: 1.25em;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nmargin: 1em 0 0.4em 0;\n}\n.btn {\nfont-size: 1.0625em;\ndisplay: inline-block;\npadding: 0.74em 1.5em;\nmargin: 1.5em 0 0;\ncolor: #fff;\nborder-width: 0 0 0 0;\nborder-bottom: 5px solid;\ntext-transform: uppercase;\nbackground-color: #b3b3b3;\nborder-bottom-color: #8c8c8c;\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\n}\n.btn:hover {\nbackground-color: #bfbfbf;\n}\n.btn.btn-submit {\nbackground-color: #4f6fad;\nborder-bottom-color: #374d78;\n}\n.btn.btn-submit:hover {\nbackground-color: #5f7db6;\n}\nform {\nmax-width: 100%;\n display: block;\n}\nform ul {\nmargin: 0;\npadding: 0;\nlist-style: none;\n}\nform ul li {\nmargin: 0 0 0.25em 0;\nclear: both;\ndisplay: inline-block;\nwidth: 100%;\n}\nform ul li:last-child {\nmargin: 0;\n}\nform ul li p {\nmargin: 0;\npadding: 0;\nfloat: left;\n}\nform ul li p.right {\nfloat: right;\n}\nform ul li .divider {\nmargin: 0.5em 0 0.5em 0;\nborder: 0;\nheight: 1px;\nwidth: 100%;\ndisplay: block;\nbackground-color: #4f6fad;\nbackground-image: linear-gradient(to right, #ee9cb4, #4f6fad);\n}\nform ul li .req {\ncolor: #ee9cb4;\n}\nform label {\ndisplay: block;\nmargin: 0 0 0.5em 0;\ncolor: #4f6fad;\nfont-size: 1em;\n}\n form input {\nmargin: 0 0 0.5em 0;\nborder: 1px solid #ccc;\npadding: 6px 10px;\ncolor: #555;\nfont-size: 1em;\n}\nform textarea {\nborder: 1px solid #ccc;\npadding: 6px 10px;\nwidth: 100%;\ncolor: #555;\n}\nform small {\ncolor: #4f6fad;\nmargin: 0 0 0 0.5em;\n}\n@media only screen and (max-width: 480px) {\n.pull-right {\nfloat: none;\n}\ninput {\nwidth: 100%;\n}\nlabel {\nwidth: 100%;\ndisplay: inline-block;\nfloat: left;\nclear: both;\n}\nli, p {\nwidth: 100%;\n}\ninput.btn {\nmargin: 1.5em 0 0.5em;\n}\nh1 {\nfont-size: 2.25em;\n}\nh3 {\nfont-size: 1.125em;\n }\nli small {\ndisplay: none;\n}\n}\n</style>\n</head>\n<body>\n<!-- partial:index.partial.html -->\n<div class=\"container\">\n<div class=\"row header\">\n<h1>Smart Parking System &nbsp;</h1>\n<h3>Fill out the form below to book a slot!</h3>\n</div>\n<div class=\"row body\">\n<p><a href = \"Parking rates at metro station.docx\" > See the rate list here</a></p>\n<form method=\"post\" action=\"/ui\">\n<ul>\n<li>\n<p class=\"left\">\n<label for=\"first_name\">first name</label>\n<input type=\"text\" name=\"first_name\" placeholder=\"Alpanshu\" />\n</p>\n<p class=\"pull-right\">\n<label for=\"last_name\">last name</label>\n<input type=\"text\" name=\"last_name\" placeholder=\"Kataria\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"email\">email <span class=\"req\">*</span></label>\n<input type=\"email\" name=\"email\" placeholder=\"alpanshu.kataria@gmail.com\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"Mob. No.\">Mob. No.<span class=\"req\">*</span></label>\n<input type=\"Mob. No.\" name=\"Mob. No.\" placeholder=\"Mob. No.\" />\n</p>\n</li>\n <li>\n<p>\n<label for=\"Car. No.\">Car. No.<span class=\"req\">*</span></label>\n<input type=\"Car. No.\" name=\"Car. No.\" placeholder=\"Car. No.\" />\n</p>\n</li>\n<li><div class=\"divider\"></div></li>\n<li>\n<label for=\"Address\">Address</label>\n<textarea cols=\"46\" rows=\"3\" name=\"Address\"></textarea>\n</li>\n<li>\n    <p><a href = \"http://127.0.0.1:1880/ui\" > Submit</a></p>\n\n</li>\n</ul>\n</form>\n</div>\n</div>\n<!-- partial -->\n</body>\n</html>","output":"str","x":1260,"y":60,"wires":[["98f8338a.1a4c8"]]},{"id":"564a0d7b.aecea4","type":"feedparse","z":"a47337d9.89f748","name":"INdia today rss feed","url":"https://www.indiatoday.in/rss/1206584","interval":15,"x":1130,"y":320,"wires":[["b8c2eda8.fc218","e2c35a18.b4d7e8","79466c47.16a724"]]},{"id":"b8c2eda8.fc218","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":300,"wires":[]},{"id":"e2c35a18.b4d7e8","type":"ui_text","z":"a47337d9.89f748","group":"487a6f75.985bc","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1510,"y":400,"wires":[]},{"id":"79466c47.16a724","type":"switch","z":"a47337d9.89f748","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"Sports","vt":"str","case":true},{"t":"regex","v":"Economics","vt":"str","case":true},{"t":"regex","v":"Education","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":1250,"y":560,"wires":[["77d42dd9.2ad884"],["a343d15b.ffeb5"],["57e71507.8920ac"]]},{"id":"77d42dd9.2ad884","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":500,"wires":[["fb1012ed.55de5","40f63fb4.875ab"]]},{"id":"a343d15b.ffeb5","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":560,"wires":[["569314c2.43705c","cef54e74.d4eb8"]]},{"id":"57e71507.8920ac","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":620,"wires":[["c34dbadd.da8688","cd4e1c86.cd068"]]},{"id":"cef54e74.d4eb8","type":"ui_text","z":"a47337d9.89f748","group":"5cdc4e34.fa907","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1760,"y":620,"wires":[]},{"id":"40f63fb4.875ab","type":"ui_text","z":"a47337d9.89f748","group":"39b12359.b3198c","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1740,"y":480,"wires":[]},{"id":"cd4e1c86.cd068","type":"ui_text","z":"a47337d9.89f748","group":"5b1cb67d.88b6a8","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1760,"y":760,"wires":[]},{"id":"fb1012ed.55de5","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1740,"y":440,"wires":[]},{"id":"569314c2.43705c","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1760,"y":580,"wires":[]},{"id":"c34dbadd.da8688","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1760,"y":720,"wires":[]},{"id":"a8077312.a69ba","type":"feedparse","z":"a47337d9.89f748","name":"ESPN rss feed","url":"https://www.espn.com/espn/rss/news","interval":15,"x":940,"y":860,"wires":[["90c875b5.b48e28","e8cc57a0.1dce28","b29ab995.8ab4b8"]]},{"id":"90c875b5.b48e28","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":840,"wires":[]},{"id":"e8cc57a0.1dce28","type":"ui_text","z":"a47337d9.89f748","group":"3f5f5e53.a1ca12","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1330,"y":940,"wires":[]},{"id":"b29ab995.8ab4b8","type":"switch","z":"a47337d9.89f748","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"Sports","vt":"str","case":true},{"t":"regex","v":"Economics","vt":"str","case":true},{"t":"regex","v":"Education","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":1100,"wires":[["7b9f7244.17c36c"],["7f2f856c.d524bc"],["43500490.7e93bc"]]},{"id":"7b9f7244.17c36c","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1040,"wires":[["23c20e1.48bd6f2","b9696a33.592928"]]},{"id":"7f2f856c.d524bc","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1100,"wires":[["5264d536.fed7cc","e3b077bf.bc2068"]]},{"id":"43500490.7e93bc","type":"change","z":"a47337d9.89f748","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1160,"wires":[["67069e6f.55806","cb700f23.870fc"]]},{"id":"e3b077bf.bc2068","type":"ui_text","z":"a47337d9.89f748","group":"c926db62.b2f068","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1580,"y":1160,"wires":[]},{"id":"b9696a33.592928","type":"ui_text","z":"a47337d9.89f748","group":"9ad7247f.b67038","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1560,"y":1020,"wires":[]},{"id":"cb700f23.870fc","type":"ui_text","z":"a47337d9.89f748","group":"3c8f7c2f.906484","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1580,"y":1300,"wires":[]},{"id":"23c20e1.48bd6f2","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1560,"y":980,"wires":[]},{"id":"5264d536.fed7cc","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":1120,"wires":[]},{"id":"67069e6f.55806","type":"debug","z":"a47337d9.89f748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":1260,"wires":[]},{"id":"1360b050.e74a5","type":"ui_group","name":"news the hindu","tab":"bdfe04a0.e37f68","order":1,"disp":true,"width":"6","collapse":false},{"id":"9beff81c.e94358","type":"ui_group","name":"The Hindu Economics","tab":"bdfe04a0.e37f68","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddd5985a.fea818","type":"ui_group","name":"The Hindu Sports","tab":"bdfe04a0.e37f68","order":2,"disp":true,"width":"6","collapse":false},{"id":"72660469.46281c","type":"ui_group","name":"THe Hindu Education","tab":"bdfe04a0.e37f68","order":4,"disp":true,"width":"6","collapse":false},{"id":"487a6f75.985bc","type":"ui_group","name":"news india today","tab":"bdfe04a0.e37f68","order":5,"disp":true,"width":"6","collapse":false},{"id":"5cdc4e34.fa907","type":"ui_group","name":"India Today Economics","tab":"bdfe04a0.e37f68","order":7,"disp":true,"width":"6","collapse":false},{"id":"39b12359.b3198c","type":"ui_group","name":"India today sports","tab":"bdfe04a0.e37f68","order":6,"disp":true,"width":"6","collapse":false},{"id":"5b1cb67d.88b6a8","type":"ui_group","name":"INdia today education","tab":"bdfe04a0.e37f68","order":8,"disp":true,"width":"6","collapse":false},{"id":"3f5f5e53.a1ca12","type":"ui_group","name":"ESPN news ","tab":"bdfe04a0.e37f68","order":9,"disp":true,"width":"6","collapse":false},{"id":"c926db62.b2f068","type":"ui_group","name":"ESPN economics","tab":"bdfe04a0.e37f68","order":11,"disp":true,"width":"6","collapse":false},{"id":"9ad7247f.b67038","type":"ui_group","name":"ESPN sports","tab":"bdfe04a0.e37f68","order":10,"disp":true,"width":"6","collapse":false},{"id":"3c8f7c2f.906484","type":"ui_group","name":"ESPN education","tab":"bdfe04a0.e37f68","order":12,"disp":true,"width":"6","collapse":false},{"id":"bdfe04a0.e37f68","type":"ui_tab","name":"Lab 3","icon":"dashboard","order":3,"disabled":false,"hidden":false}]