Lab 3/flows.json
[{"id":"10ce5a1.c7847a6","type":"feedparse","z":"8057767d.420c38","name":"INdia today rss feed","url":"https://www.indiatoday.in/rss/1206584","interval":15,"x":250,"y":1580,"wires":[["a1c740e7.d172a","4e470bdd.cbb694","96c45ce.cf85fa"]]},{"id":"a1c740e7.d172a","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1560,"wires":[]},{"id":"4e470bdd.cbb694","type":"ui_text","z":"8057767d.420c38","group":"487a6f75.985bc","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":630,"y":1660,"wires":[]},{"id":"96c45ce.cf85fa","type":"switch","z":"8057767d.420c38","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"Sasikala","vt":"str","case":false},{"t":"regex","v":"CAA","vt":"str","case":false},{"t":"regex","v":"Vadodara","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":1820,"wires":[["c4714306.efebc"],["8ddc4281.f469a"],["b8c7fde3.1ce92"]]},{"id":"c4714306.efebc","type":"change","z":"8057767d.420c38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1760,"wires":[["72243d5a.5af654","dd4bfc95.e269"]]},{"id":"8ddc4281.f469a","type":"change","z":"8057767d.420c38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1820,"wires":[["193cc6d2.0a8479","2f539035.61185"]]},{"id":"b8c7fde3.1ce92","type":"change","z":"8057767d.420c38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1880,"wires":[["a82afb86.bc4008","38923e4.1ee3cc2"]]},{"id":"2f539035.61185","type":"ui_text","z":"8057767d.420c38","group":"5cdc4e34.fa907","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":880,"y":1880,"wires":[]},{"id":"dd4bfc95.e269","type":"ui_text","z":"8057767d.420c38","group":"39b12359.b3198c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":860,"y":1740,"wires":[]},{"id":"38923e4.1ee3cc2","type":"ui_text","z":"8057767d.420c38","group":"5b1cb67d.88b6a8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":880,"y":2020,"wires":[]},{"id":"72243d5a.5af654","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":1700,"wires":[]},{"id":"193cc6d2.0a8479","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":1840,"wires":[]},{"id":"a82afb86.bc4008","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":1980,"wires":[]},{"id":"713ef380.cfe70c","type":"feedparse","z":"8057767d.420c38","name":"The Hindu rss","url":"https://www.thehindu.com/news/national/feeder/default.rss","interval":15,"x":190,"y":1060,"wires":[["9237edfa.abcf9","fa693432.c64e98","f1ec2533.73a5a8"]]},{"id":"9237edfa.abcf9","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":1040,"wires":[]},{"id":"fa693432.c64e98","type":"ui_text","z":"8057767d.420c38","group":"1360b050.e74a5","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":590,"y":1140,"wires":[]},{"id":"f1ec2533.73a5a8","type":"switch","z":"8057767d.420c38","name":"","property":"article.title","propertyType":"msg","rules":[{"t":"regex","v":"PFI","vt":"str","case":false},{"t":"regex","v":"KRRS","vt":"str","case":false},{"t":"regex","v":"Eshwarappa","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":1300,"wires":[["4cea7c8f.91e664"],["1e9d6348.182b6d"],["abf62bf3.5643d8"]]},{"id":"4cea7c8f.91e664","type":"change","z":"8057767d.420c38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1240,"wires":[["6ef61780.aa51c8","854ee1df.78e8f"]]},{"id":"1e9d6348.182b6d","type":"change","z":"8057767d.420c38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1300,"wires":[["6a158a5f.4565e4","c1c7e4e9.982598"]]},{"id":"abf62bf3.5643d8","type":"change","z":"8057767d.420c38","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"article title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1360,"wires":[["e2c79dcc.653d5","2bb402df.4e970e"]]},{"id":"c1c7e4e9.982598","type":"ui_text","z":"8057767d.420c38","group":"9beff81c.e94358","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":1360,"wires":[]},{"id":"854ee1df.78e8f","type":"ui_text","z":"8057767d.420c38","group":"ddd5985a.fea818","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":820,"y":1220,"wires":[]},{"id":"2bb402df.4e970e","type":"ui_text","z":"8057767d.420c38","group":"72660469.46281c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":1500,"wires":[]},{"id":"6ef61780.aa51c8","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1180,"wires":[]},{"id":"6a158a5f.4565e4","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":1320,"wires":[]},{"id":"e2c79dcc.653d5","type":"debug","z":"8057767d.420c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":1460,"wires":[]},{"id":"487a6f75.985bc","type":"ui_group","name":"Top stories India today","tab":"bdfe04a0.e37f68","order":5,"disp":true,"width":"6","collapse":false},{"id":"5cdc4e34.fa907","type":"ui_group","name":"CAA Filter","tab":"bdfe04a0.e37f68","order":7,"disp":true,"width":"6","collapse":false},{"id":"39b12359.b3198c","type":"ui_group","name":"Sasikala Filter","tab":"bdfe04a0.e37f68","order":6,"disp":true,"width":"6","collapse":false},{"id":"5b1cb67d.88b6a8","type":"ui_group","name":"Vadodra Filter","tab":"bdfe04a0.e37f68","order":8,"disp":true,"width":"6","collapse":false},{"id":"1360b050.e74a5","type":"ui_group","name":"news the hindu","tab":"bdfe04a0.e37f68","order":1,"disp":true,"width":"6","collapse":false},{"id":"9beff81c.e94358","type":"ui_group","name":"Filter KRRS","tab":"bdfe04a0.e37f68","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddd5985a.fea818","type":"ui_group","name":"Filter PFI","tab":"bdfe04a0.e37f68","order":2,"disp":true,"width":"6","collapse":false},{"id":"72660469.46281c","type":"ui_group","name":"Filter Eshwarappa","tab":"bdfe04a0.e37f68","order":4,"disp":true,"width":"6","collapse":false},{"id":"bdfe04a0.e37f68","type":"ui_tab","name":"Lab 3","icon":"dashboard","order":3,"disabled":false,"hidden":false}]