Lab 6/Homeautomation.json
[{"id":"291dff88.ec786","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"410747d2.82c868","type":"inject","z":"291dff88.ec786","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Temperature\":42,\"Humidity\":36,\"Light\":\"ON\",\"Fan\":\"OFF\",\"Air Conditioner\":\"OFF\"}","payloadType":"json","x":210,"y":140,"wires":[["34be0a64.3d13f6"]]},{"id":"d05da16a.5bbf8","type":"debug","z":"291dff88.ec786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":140,"wires":[]},{"id":"34be0a64.3d13f6","type":"http request","z":"291dff88.ec786","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":240,"wires":[["d05da16a.5bbf8"]]}]