Lab 4/flows_Lab4.txt
[{"id":"cd63757a.beb398","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"136adb36.3dd825","type":"http in","z":"cd63757a.beb398","name":"User details","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["e9d2448b.b5e648"]]},{"id":"bf7715d1.b9e558","type":"http response","z":"cd63757a.beb398","name":"","statusCode":"","headers":{},"x":730,"y":100,"wires":[]},{"id":"e9d2448b.b5e648","type":"function","z":"cd63757a.beb398","name":"","func":"msg.url=\"index\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":100,"wires":[["78d4cc5d.6a9804"]]},{"id":"78d4cc5d.6a9804","type":"template","z":"cd63757a.beb398","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n<meta charset=\"UTF-8\">\n<title>Registration Form</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css\">\n<style>\n@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);\n body {\nbackground-color: #e6e6e6;\nfont-size: 100%;\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\n}\ndiv, textarea, input {\n-moz-box-sizing: border-box;\n-webkit-box-sizing: border-box;\nbox-sizing: border-box;\n}\n.container {\nmax-width: 510px;\nmin-width: 324px;\nmargin: 50px auto 0px;\nbackground-color: #fff;\nborder: 1px solid #cfcfcf;\nborder-bottom: 3px solid #ccc;\n}\n.row {\nwidth: 100%;\nmargin: 0 0 1em 0;\npadding: 0 2.5em;\n}\n.row.header {\npadding: 1.5em 2.5em;\nborder-bottom: 1px solid #ccc;\nbackground: url('https://www.cpajournal.com/wp-content/uploads/2019/02/GettyImages-1001713236-730x330.jpg') left -80px;\ncolor: #fff;\n}\n.row.body {\npadding: .5em 2.5em 1em;\n}\n.pull-right {\nfloat: right;\n}\nh1 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\ndisplay: inline-block;\nfont-weight: 100;\n background-color: white;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nfont-size: 3.5em;\nborder-bottom: 1px solid rgba(255, 255, 255, 0.3);\nmargin: 0 0 0.1em 0;\npadding: 0 0 0.4em 0;\n}\nh3 {\nfont-family: 'Lato', sans-serif;\nfont-weight: 400;\nfont-size: 1.25em;\ncolor: black;\ntext-shadow: 2px 2px 5px red;\nmargin: 1em 0 0.4em 0;\n}\n.btn {\nfont-size: 1.0625em;\ndisplay: inline-block;\npadding: 0.74em 1.5em;\nmargin: 1.5em 0 0;\ncolor: #fff;\nborder-width: 0 0 0 0;\nborder-bottom: 5px solid;\ntext-transform: uppercase;\nbackground-color: #b3b3b3;\nborder-bottom-color: #8c8c8c;\nfont-family: 'Lato', sans-serif;\nfont-weight: 300;\n}\n.btn:hover {\nbackground-color: #bfbfbf;\n}\n.btn.btn-submit {\nbackground-color: #4f6fad;\nborder-bottom-color: #374d78;\n}\n.btn.btn-submit:hover {\nbackground-color: #5f7db6;\n}\nform {\nmax-width: 100%;\n display: block;\n}\nform ul {\nmargin: 0;\npadding: 0;\nlist-style: none;\n}\nform ul li {\nmargin: 0 0 0.25em 0;\nclear: both;\ndisplay: inline-block;\nwidth: 100%;\n}\nform ul li:last-child {\nmargin: 0;\n}\nform ul li p {\nmargin: 0;\npadding: 0;\nfloat: left;\n}\nform ul li p.right {\nfloat: right;\n}\nform ul li .divider {\nmargin: 0.5em 0 0.5em 0;\nborder: 0;\nheight: 1px;\nwidth: 100%;\ndisplay: block;\nbackground-color: #4f6fad;\nbackground-image: linear-gradient(to right, #ee9cb4, #4f6fad);\n}\nform ul li .req {\ncolor: #ee9cb4;\n}\nform label {\ndisplay: block;\nmargin: 0 0 0.5em 0;\ncolor: #4f6fad;\nfont-size: 1em;\n}\n form input {\nmargin: 0 0 0.5em 0;\nborder: 1px solid #ccc;\npadding: 6px 10px;\ncolor: #555;\nfont-size: 1em;\n}\nform textarea {\nborder: 1px solid #ccc;\npadding: 6px 10px;\nwidth: 100%;\ncolor: #555;\n}\nform small {\ncolor: #4f6fad;\nmargin: 0 0 0 0.5em;\n}\n@media only screen and (max-width: 480px) {\n.pull-right {\nfloat: none;\n}\ninput {\nwidth: 100%;\n}\nlabel {\nwidth: 100%;\ndisplay: inline-block;\nfloat: left;\nclear: both;\n}\nli, p {\nwidth: 100%;\n}\ninput.btn {\nmargin: 1.5em 0 0.5em;\n}\nh1 {\nfont-size: 2.25em;\n}\nh3 {\nfont-size: 1.125em;\n }\nli small {\ndisplay: none;\n}\n}\n</style>\n</head>\n<body>\n<!-- partial:index.partial.html -->\n<div class=\"container\">\n<div class=\"row header\">\n<h1>Registration Form &nbsp;</h1>\n<h3>Fill out the form below!</h3>\n</div>\n<div class=\"row body\">\n<form method=\"post\" action=\"/ui\">\n<ul>\n<li>\n<p class=\"left\">\n<label for=\"first_name\">first name</label>\n<input type=\"text\" name=\"first_name\" placeholder=\"Alpanshu\" />\n</p>\n<p class=\"pull-right\">\n<label for=\"last_name\">last name</label>\n<input type=\"text\" name=\"last_name\" placeholder=\"Kataria\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"email\">email <span class=\"req\">*</span></label>\n<input type=\"email\" name=\"email\" placeholder=\"alpanshu.kataria@gmail.com\" />\n</p>\n</li>\n<li>\n<p>\n<label for=\"Mob. No.\">Mob. No.<span class=\"req\">*</span></label>\n<input type=\"Mob. No.\" name=\"Mob. No.\" placeholder=\"Mob. No.\" />\n</p>\n</li>\n <li>\n<p>\n<label for=\"Being diagnosed for:\">Being diagnosed for:<span class=\"req\">*</span></label>\n<input type=\"Being diagnosed for:\" name=\"Being diagnosed for:\" placeholder=\"Being diagnosed for:\" />\n</p>\n</li>\n<li><div class=\"divider\"></div></li>\n<li>\n<label for=\"Address\">Address</label>\n<textarea cols=\"46\" rows=\"3\" name=\"Address\"></textarea>\n</li>\n        <li>\n          <input class=\"btn btn-submit\" type=\"submit\" value=\"Submit\" />\n          <small>or press <strong>enter</strong></small>\n        </li>\n</ul>\n</form>\n</div>\n</div>\n<!-- partial -->\n</body>\n</html>","output":"str","x":540,"y":100,"wires":[["bf7715d1.b9e558"]]},{"id":"ed636895.e99238","type":"inject","z":"cd63757a.beb398","name":"Temperature(in fahrenheit)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"103","payloadType":"num","x":180,"y":220,"wires":[["ca29479a.1713d8"]]},{"id":"a2d5e012.3529c","type":"inject","z":"cd63757a.beb398","name":"Oximeter reading(in percentage)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"96","payloadType":"num","x":170,"y":300,"wires":[["af8ceff9.50b1f"]]},{"id":"8bde4b89.45eba8","type":"inject","z":"cd63757a.beb398","name":"Pulse rate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"101","payloadType":"num","x":160,"y":380,"wires":[["1fc220f5.afb2af"]]},{"id":"d51baec3.85c94","type":"function","z":"cd63757a.beb398","name":"","func":"if(msg.payload>=97 && msg.payload<=99){\n    msg.payload=\"Body temperature is normal\"\n}\nelse if(msg.payload>99){\n    msg.payload=\"You seem to have fever. Please contact your doctor. Meanwhile take a paracetamol\"\n}\nelse if(msg.payload<97){\n    msg.payload=\"You seem to have hypothermia. Please contact your doctor as soon as possible\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":820,"wires":[["97f39038.006a4"]]},{"id":"10ff6c41.cf7ad4","type":"function","z":"cd63757a.beb398","name":"","func":"if(msg.payload>=95 && msg.payload<=100){\n    msg.payload=\"Your blood oxygen level is normal\"\n}\nelse if(msg.payload<95){\n    msg.payload=\"Your blood oxygen level is low.Please contact your doctor immediately\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":900,"wires":[["db306bdc.01dec8"]]},{"id":"a12d6739.dfe738","type":"function","z":"cd63757a.beb398","name":"","func":"if(msg.payload>=60 && msg.payload<=100){\n    msg.payload=\"Your pulse rate is normal\"\n}\nelse if(msg.payload>100){\n    msg.payload=\"Your pulse rate seems to be too high. Please contact your doctor immediately.\"\n}\nelse if(msg.payload<60){\n    msg.payload=\"Your pulse rate seems to be too low. Please contact your doctor as soon as possible\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":980,"wires":[["fba8976e.daed08"]]},{"id":"97f39038.006a4","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":820,"wires":[]},{"id":"db306bdc.01dec8","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":920,"wires":[]},{"id":"fba8976e.daed08","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":1000,"wires":[]},{"id":"ca29479a.1713d8","type":"fred out","z":"cd63757a.beb398","name":"client side input","server":"","client":"ba178cc8.608cf","x":561,"y":220,"wires":[]},{"id":"af8ceff9.50b1f","type":"fred out","z":"cd63757a.beb398","name":"client side input","server":"","client":"891bed4c.3c33d","x":560,"y":297,"wires":[]},{"id":"1fc220f5.afb2af","type":"fred out","z":"cd63757a.beb398","name":"client side input","server":"","client":"f14ff275.8c019","x":560,"y":380,"wires":[]},{"id":"43fe393c.245458","type":"fred in","z":"cd63757a.beb398","name":"Client side output","server":"","client":"ba178cc8.608cf","x":210,"y":480,"wires":[["7f7ad12d.bcc88","a81d293d.7c62f8"]]},{"id":"7356bb6a.8951c4","type":"fred in","z":"cd63757a.beb398","name":"Client side output","server":"","client":"891bed4c.3c33d","x":200,"y":540,"wires":[["a5d2f8fa.751758","acc3f8fb.61b788"]]},{"id":"4fd6f6ff.ad02c8","type":"fred in","z":"cd63757a.beb398","name":"Client side output","server":"","client":"f14ff275.8c019","x":200,"y":620,"wires":[["8a15b111.3adad","ee15b1d5.a8aef"]]},{"id":"a81d293d.7c62f8","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":480,"wires":[]},{"id":"acc3f8fb.61b788","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":560,"wires":[]},{"id":"ee15b1d5.a8aef","type":"debug","z":"cd63757a.beb398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":640,"wires":[]},{"id":"7f7ad12d.bcc88","type":"ui_text","z":"cd63757a.beb398","group":"bb844995.d24518","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":440,"wires":[]},{"id":"a5d2f8fa.751758","type":"ui_text","z":"cd63757a.beb398","group":"f224b485.809728","order":0,"width":0,"height":0,"name":"","label":"Blood oxygen level","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":520,"wires":[]},{"id":"8a15b111.3adad","type":"ui_text","z":"cd63757a.beb398","group":"fd7f4208.8765c","order":0,"width":0,"height":0,"name":"","label":"Pulse","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":600,"wires":[]},{"id":"ba178cc8.608cf","type":"fred-client","endpoint":"alpanshu1","private":false,"username":"alps","wholemsg":"false"},{"id":"891bed4c.3c33d","type":"fred-client","endpoint":"alpanshu2","private":false,"username":"alps","wholemsg":"false"},{"id":"f14ff275.8c019","type":"fred-client","endpoint":"alpanshu3","private":false,"username":"alps","wholemsg":"false"},{"id":"bb844995.d24518","type":"ui_group","name":"Temperature","tab":"6ea42dc7.8f5c54","order":1,"disp":true,"width":6,"collapse":false},{"id":"f224b485.809728","type":"ui_group","name":"Oximeter reading","tab":"6ea42dc7.8f5c54","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd7f4208.8765c","type":"ui_group","name":"pulse rate","tab":"6ea42dc7.8f5c54","order":3,"disp":true,"width":"6","collapse":false},{"id":"6ea42dc7.8f5c54","type":"ui_tab","name":"Lab 4","icon":"dashboard","order":2,"disabled":false,"hidden":false}]